BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

AlignConsecutiveAssignments: true
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false

ContinuationIndentWidth: 120
ColumnLimit: 120

AllowAllArgumentsOnNextLine: true
