BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left

#AlignConsecutiveAssignments: true
#AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false

ContinuationIndentWidth: 100
ColumnLimit: 100

AllowAllArgumentsOnNextLine: true
